:root {
  --primary-text-color: rgb(33, 33, 33);
  --logo-text-color: rgb(33, 150, 243);
  --secondary-text-color: rgb(0, 0, 0);
  --paragraph-text-color: rgb(117, 117, 117);
  --white-text-color: rgb(255, 255, 255);
  --white-text-color-op: rgba(255, 255, 255, 0.6);
  --gray-button-portfolio: rgb(245, 244, 250);
  --hero-footer-main-page: rgb(47, 48, 58);
  --icon-color-gray: rgb(175, 177, 184);
  --examples-gap: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.all-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */
header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

/* Оформление логотипа в шапке */
.nav-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;

  outline: none;
}

.logo-part {
  color: var(--logo-text-color);
}

/* Оформление ссылок навигации */
.nav-list {
  display: flex;
}

.element-nav:not(:last-child) {
  margin-right: 50px;
}

.nav-items {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-items:hover,
.nav-items:focus {
  color: var(--logo-text-color);
  outline: none;
}

.nav-items.current {
  color: var(--logo-text-color);
}

.nav-items.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-text-color);
  border-radius: 2px;
  left: 0;
  bottom: -2px;
}

/* Контакты в шапке */
.contacts {
  color: var(--paragraph-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts:hover,
.contacts:focus {
  color: var(--logo-text-color);
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icon-contacts:hover,
.icon-contacts:focus {
  fill: currentColor;
}

/* Оформление героя */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--hero-footer-main-page);
}

.page-hero {
  display: block;
  max-width: 700px;
  margin: 0 auto;
}

.hero-heading {
  margin-bottom: 40px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Оформление кнопки */
.btn-button {
  display: block;
  width: 200px;
  padding: 10px 32px;
  margin: 0 auto;

  color: var(--white-text-color);
  background-color: var(--logo-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.btn-button:hover,
.btn-button:focus {
  color: var(--white-text-color-op);
}

/* Модальное окно */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--white-text-color);
  max-width: 528px;
  max-height: 581px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--logo-text-color);
}

/*  Форма модального окна */

.form-modal {
  width: 100%;
}

.form-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.form-group {
  position: relative;
  margin-right: 0;
  margin-bottom: 10px;
}

.form-modal .contacts {
  display: block;
  color: var(--paragraph-text-color);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-icon {
  position: relative;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-icon:focus-within {
  fill: var(--logo-text-color);
}

.modal-input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input:focus {
  border: 1px solid var(--logo-text-color);
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translatey(-50%);
}

.form-group .commentary {
  margin-bottom: 20px;
}

.modal-input-textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input-textarea:focus {
  border: 1px solid var(--logo-text-color);
  outline: none;
}

.form-field::placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
  font-size: 16px;
  line-height: 1.25;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-agree {
  color: #757575;

  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.checkbox-terms {
  display: inline-block;
  text-decoration: underline;
  color: var(--logo-text-color);
  letter-spacing: 0.03em;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.check-icon use {
  opacity: 0;
}

.checkbox:checked + .check-icon {
  border: none;
}

.checkbox:checked + .check-icon use {
  opacity: 1;
}

.btn-modal {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 55px;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;

  background-color: var(--logo-text-color);
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.btn-modal:hover,
.btn-modal:focus {
  color: var(--white-text-color-op);
}

/* Преимушества */
.features {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-element {
  flex-basis: calc(100% / 4 - 30px);
}

.features-heading {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-items {
  display: flex;
  width: 270px;
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.works-item:not(:last-child),
.team-element:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--gray-button-portfolio);
}

/* Чем мы занимаемся */

.works-heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works-thumb {
  position: relative;
}

.works-thumb::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-overlay {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.works-text {
  color: var(--white-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.works-img,
.works-item,
.team-list {
  display: flex;
}

/* Team */

.team {
  background-color: var(--gray-button-portfolio);
}

.team-element {
  width: 270px;
  text-align: center;
  background-color: var(--white-text-color);
}

.team h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.container-team {
  padding: 30px 30px;

  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  color: var(--paragraph-text-color);
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  margin-right: -10px;
}

.socials-item {
  flex-basis: calc(100% / 4 - 10px);
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-text-color);
  fill: var(--icon-color-gray);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.socials-link:hover,
.socials-link:focus {
  fill: var(--white-text-color);
  background-color: var(--logo-text-color);
  outline: none;
}

.icon-socials {
  width: 20px;
  height: 20px;
}

/* Наши клиенты */
.clients {
  display: flex;
  margin-right: calc(-1 * var(--examples-gap));
}

.clients-item {
  flex-basis: calc(100% / 6 - var(--examples-gap));
  margin-right: var(--examples-gap);
}

.our-clients {
  display: block;
}

.thumb-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: var(--icon-color-gray);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;

  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.icon-clients {
  fill: currentColor;
}

.thumb-clients:hover,
.thumb-clients:focus {
  color: var(--logo-text-color);
  border: 1px solid var(--logo-text-color);
  outline: none;
}

/* Оформление футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-main-page);
}

.all-footer {
  display: flex;
  align-items: baseline;
}

.main-address {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;

  color: var(--white-text-color);
  font-size: 26px;
  line-height: 1.19;
}

.footer-address {
  color: var(--white-text-color);

  font-size: 14px;
  line-height: 1.71;
}

.footer-item:first-child {
  margin-bottom: 9px;
}

.footer-address .footer-contacts {
  display: block;

  color: var(--white-text-color-op);
  font-style: normal;
}

.add-socials {
  margin-right: 93px;
}

.add-text {
  display: inline-block;
  color: var(--white-text-color);
  font-weight: 700;

  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.add-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-text-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.add-socials-link:hover,
.add-socials-link:focus {
  background-color: var(--logo-text-color);
  outline: none;
}

/* Форма подписки */

.form-subscribe {
  display: flex;
  align-items: flex-end;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.form-input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--white-text-color);

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--logo-text-color);
}

.form-input::placeholder {
  font-family: inherit;
  color: var(--white-text-color-op);
  font-size: 16px;
  line-height: 1.25;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  padding: 10px 8px 10px 29px;
  width: 200px;
  height: 50px;

  background-color: var(--logo-text-color);
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  color: var(--white-text-color-op);
}

.icon-subscribe {
  margin-left: 10px;
}

/* Оформиление портфолио  */

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--examples-gap));
  margin-bottom: calc(-1 * var(--examples-gap));
}

.examples > .item {
  flex-basis: calc(100% / 3 - var(--examples-gap));
  margin-right: var(--examples-gap);
  margin-bottom: var(--examples-gap);
  box-shadow: none;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.examples > .item:hover,
.examples > .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0, 25;
}

.examples-heading {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--paragraph-text-color);

  font-size: 16px;
  line-height: 1.9;
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(
    101%
  ); /* 101% - чтоб не было синей полоски между оверлеем и картинкой */
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.item:hover .examples-overlay {
  transform: translatey(0);
}

.overlay-text {
  color: var(--white-text-color);

  font-size: 18px;
  line-height: 1.55;
}

/* Оформиление кнопок в портфолио */

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn .button {
  padding: 6px 22px;

  background-color: var(--gray-button-portfolio);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: none;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn .button:hover,
.btn .button:focus {
  color: var(--white-text-color);
  background-color: var(--logo-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
